body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: lightblue;
}

a {
  text-decoration: none !important;
  font-weight: lighter;
  font-size: 16px;
  display: flex;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.white {
  color: #fff !important;
}

.spacer {
  clear: both;
  width: 100%;
}

.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-image: url("./assets/bgSidebar.jpg");
  background-size: cover;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.sidebar {
  display: flex;
  width: 100%;
  position: fixed;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconPlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
  color: #333;
  font-size: 24px;
}

.navigation {
  width: 90%;
  max-width: 250px;
}

.menuItemA {
  width: 240px;
}

.menuItem {
  background: rgba(255, 255, 255, 0.2);
  width: 240px;
  display: flex;
  align-items: center;
}

.textPlaceholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  color: #333;
  font-weight: bold;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cardsWrapper {
  width: 100%;
  background-size: cover;
}

.section1 {
  background: url("./assets/bgSection2.jpg");
  background-size: cover;
}

.section2 {
  background: url("./assets/bgSection4.jpg");
  background-position: center top;
  background-size: cover;
}

.cards {
  width: 100%;
  height: 500px;
  max-width: 1200px;
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 0 auto;
}

.cards-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 33rem;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.card {
  background: white;
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.card:nth-child(1) {
  grid-column: span 2;
}

.card:nth-child(2) {
  grid-column: 3;
}

.card:nth-child(3) {
  grid-column: 4;
}

.card:nth-child(4) {
  grid-column: 1;
}

.card:nth-child(5) {
  grid-column: 2;
}

.card:nth-child(6) {
  grid-column: 3 / span 2;
}

.cardImg {
  height: 50%;
  background-size: cover;
  background-position: center center;
}

.cardImgFull {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.cardTextContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.cardTextContainerFull {
  width: 100%;
  height: 45%;
  bottom: 0%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTextContainerFullCol1 {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.cardTextContainerFullCol2 {
  padding: 6px;
  text-align: right;
}

.cardTextTitle {
  font-weight: bold;
  font-size: 16px;
}

.cardButton {
  background: #0e8cb6;
  border-radius: 4px;
  width: fit-content;
  color: #fff;
  padding: 4px 20px;
  font-size: 13px;
}

.cardButton2 {
  background: #fff;
  border-radius: 4px;
  width: fit-content;
  color: #333;
  font-weight: bold;
  padding: 4px 18px;
  font-size: 12px;
}

.cardFooter {
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 6px;
}

.columnCards {
  width: 100%;
  min-height: 500px;
  max-width: 1200px;
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: 0 auto;
  transition: all 0.5s;
  grid-auto-rows: minmax(300px, 300px);
}

.columnCardsRow {
  min-height: 200px;
  grid-auto-rows: minmax(140px, 140px);
}

.columnCard {
  background: white;
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.columnCardRow {
  flex-direction: row;
}

.columnCardImg {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  transition: all 0.5s;
}

.columnCardImg2 {
  width: 30%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: all 0.5s;
}

.columnCardTextContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px;
}

.columnCardTextContainerRow {
  height: 100%;
  width: 70%;
}

.dim-layer {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
}

.openedCardContainer {
  border-radius: 15px;
  cursor: pointer;
  width: 94%;
  height: calc(100% - 10rem);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 18;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.openedCard {
  background: white;
  width: 100%;
  max-width: 800px;
  position: relative;
  z-index: 18;
  height: 450px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.openedCardContainerFull {
  cursor: pointer;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 20;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.openedCardFull {
  background: white;
  width: 100%;
  height: 100vh;
  margin: 0;
  z-index: 20;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.expandableCardsWrapper {
  width: 100%;
}

.expandableCards {
  width: 100%;
  height: 350px;
  max-width: 1200px;
  padding: 0px;
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  margin: 0 auto;
}

.expandableCard {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 2px 3px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    45deg,
    #f2f2f2 10%,
    #eee 7%,
    #f2f2f2 7%,
    #ddd 40%
  );
  transition: background 0.3s, box-shadow 0.3s;
}

.expandableCard:hover {
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    45deg,
    #f2f2f2 10%,
    #ddd 7%,
    #f2f2f2 7%,
    #ccc 40%
  );
}

.expandableCardImg {
  overflow: hidden;
  width: 40%;
  border-radius: 6px;
  margin: 2%;
  background-size: cover;
  background-position: center center;
  border: 1px solid #bbb;
}

.expandableCardImgSelected {
  border: 0;
  box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.expandableCardWrapper {
  width: 100%;
  height: 112%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.expandableCardTitle {
  width: 62%;
  height: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-weight: bold;
  font-size: 16px;
}

.expandableCardButtonContainer {
  display: flex;
  justify-content: end;
}

.expandableCardTitleSelected {
  font-size: 28px;
  text-align: center;
}

.expandableCardFooter {
  width: 100%;
  background: linear-gradient(
    45deg,
    #e2e2e2 10%,
    #ccc 7%,
    #e2e2e2 7%,
    #bbb 40%
  );
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.expandableCardCategory {
  background: rgba(0, 0, 0, 0.4);
  width: fit-content;
  margin: 12px;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  letter-spacing: 1px;
}

.expandableCardCategoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expandableCardStar {
  background: rgba(0, 0, 0, 0.4);
  width: fit-content;
  margin: 12px;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
}

.expandableCardSocial {
  gap: 4px;
  display: flex;
}

.expandableBody {
  width: 96%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 80px;
}

.expandableBodyCol {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 50%;
}

@media (max-width: 768px) {
  .expandableBodyCol {
    width: 100% !important;
  }
}

.expandableDescription {
  font-size: 16px;
  text-align: justify;
  font-weight: normal;
  margin-top: 30px;
}

.expandableCardFullTitle {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.buttonClose {
  position: absolute;
  border: 1px solid #ccc;
  font-weight: bold;
  margin-left: calc(100% - 90px);
  font-size: 22px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.buttonClose:hover {
  background: #f1f1f1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
}
.nav-options {
  display: flex;
}
.nav-option {
  padding: 4px;
}

.dbLogo {
  width: 100px;
  height: auto;
}

.githubLogo {
  display: block;
  margin: 10px 34px;
}

.fadeWrapper {
  background: rgba(0, 0, 0, 0.5);
  height: 50vh;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.fadeWrapperLogo {
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: center;
}

.framerMotionImg {
  width: 104px;
  height: auto;
}

.framerMotionImg2 {
  width: 90px;
  height: auto;
}

.homepage {
  background: url("./assets/bg1.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center center;
}

.page1 {
  background: url("./assets/bg2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.page2 {
  background: url("./assets/bg3.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.page3 {
  background: url("./assets/bg4.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.page4 {
  background: url("./assets/bg5.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.pageBody {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  font-weight: bolder;
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pageDescription {
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tabsWrapper {
  width: 100%;
  background: url("./assets/bgSection1.jpg");
  background-size: cover;
}

.tabsContainer {
  max-width: 1200px;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
}

.tabsButtons {
  padding: 0;
  list-style: none;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.tab {
  position: relative;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.tab a {
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
  padding: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  overflow: hidden;
  position: relative;
}

.tab::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  border-radius: var(--border-radius);
  background: none;
  overflow: hidden;
  transition: background 0.5s ease;
  padding: 0;
  margin: 0;
}

.tab svg {
  height: 36px;
  width: 36px;
  min-width: 36px;
  fill: var(--black);
  transition: fill 0.5s ease;
}

.tab.active::before {
  background: var(--active-color);
}

.tab span {
  font-weight: 700;
  margin-left: 14px;
  transition: color 0.5s ease;
}

.tab.active span {
  color: var(--active-color);
}

.tab.active svg {
  fill: var(--active-color);
}

.tabCards {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-width: 1200px;
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;
  grid-template-rows: repeat(2, 1fr);
}

.tabCard {
  width: 100%;
  margin-bottom: 26px;
}

.tabCardTitle {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  height: 15%;
}

.tabCardImg {
  height: 80%;
  background-size: cover;
  background-position: center center;
}

.content-card .info::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  bottom: -5px;
  background: var(--active-color);
  opacity: 0.5;
}

.content-card img {
  border-radius: 6px;
  width: 100%;
}

.content-card h3 {
  margin: 0 0 5px;
}

.content-card .info {
  padding: 10px 0;
}

.text1 {
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  margin-top: 20px;
}

.text2 {
  font-weight: bold;
  font-size: 22px;
  color: #fff;
}

.text3 {
  font-weight: bold;
  font-size: 26px;
  color: #333;
  padding-top: 80px;
  text-align: center;
}

.text4 {
  font-weight: bold;
  font-size: 22px;
  color: #444;
  padding-bottom: 80px;
  text-align: center;
}

.category {
  color: #0e8cb6;
}

.category2 {
  color: #fff;
}

.description {
  font-size: 14px;
  color: #444;
  font-weight: normal;
  margin-top: 10px;
}

.facebook {
  color: #1973ec;
}

.instagram {
  color: #b508e3;
}

.linkedin {
  color: #0173b1;
}

.form {
  width: "100%";
  text-align: left;
  font-size: 15px;
}

.input {
  background: #f1f1f1 !important;
}

.sendButton {
  background: #333;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  gap: 60px;
  padding: 40px;
  text-align: left;
  padding-top: 0px;
}

.buttonColumn {
  padding: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 17px;
  justify-content: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  margin-top: 10px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.buttonColumn:hover {
  background: rgba(255, 255, 255, 1);
}

.buttonColumnWrapper {
  display: flex;
  gap: 10px;
}

.checkboxColumn {
  width: 22px;
  height: 22px;
}

.footer {
  background: #111;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footerCol {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.footerLink {
  color: #fff;
}

.pZero {
  padding: 0 !important;
  margin: 0 !important;
}

.navItem {
  margin-left: 20px;
}

.navButton {
  color: #fff;
  font-weight: bold;
  margin-left: 22px;
}

.navButton a {
  color: #fff;
  font-weight: bold;
}

.navButton a:hover {
  color: #d1d1d1;
}

.subMenu {
  position: absolute;
  top: 0px;
  transform-origin: 50% -30px;
  margin-top: 30px;
  overflow: hidden;
  min-width: 150px;
  min-height: 150px;
}

.subMenuBg {
  min-width: 150px;
  min-height: 150px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 30px;
  text-align: left;
  transform-origin: 0 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 14px 22px;
  border-radius: 6px;
  border: 2px solid #bbb;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.subMenuItem {
  font-size: 14px;
  color: #222;
  margin-bottom: 8px;
  cursor: pointer;
}

.subMenuItem:hover {
  color: #336699;
}

.flashCards {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center center;
  background: #4da6ff;
}

.flashCardsContainer {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  perspective: 150px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.flashCard {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 80px;
  background: white;
  margin: 2rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.flipCardContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  gap:10px;
}

.flipCard {
  perspective: 1000px;
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flipCard.flippedH {
  transform: rotateY(180deg);
}

.flipCard.flippedV {
  transform: rotateX(180deg);
}

.flipCardInner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flipCardFront,
.flipCardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  pointer-events: none;
}

.flipCardFront {
  background-color: #d7fbda;
  color: green;
}

.flipCardBackH {
  background-color: #fbd7f8;
  color: blue;
  transform: rotateY(180deg);
  pointer-events: none;
}

.flipCardBackV {
  background-color: #fbd7f8;
  color: blue;
  transform: rotateX(180deg);
  pointer-events: none;
}

.flipCardContent {
  padding: 20px;
  text-align: center;
}

.flipButton {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #f5d9fa;
  border: none;
  border-radius: 5px;
  pointer-events: none;
  cursor: pointer;
}
